{% extends 'base.html' %}

{% load static %}

{% block title %}Your message has been sent! シ - Smart Mingle Events{% endblock %}

{% block content %}

<div class="container mt-3">
    <div class="row align-items-center">
        <div class="col-lg-6 col-sm-12">

            <h3 class="mb-4">
                Smart Mingle - Thank you for your message!
            </h3> <br>
            <h4>One of our team member will get back to you shortly. シ</h4>

            <button type="button" class="btn mt-3 btn-primary btn-lg"
                    onclick="window.location.href='{% url 'app:home' %}'">
                Go To Home !!
            </button>


        </div>

        <div class="col-lg-6 col-sm-12">
            <img src="{%static 'images/contact_success.png' %}" alt="logout-image" class="img-fluid"/>
        </div>
    </div>
</div>
{% endblock %}