{% extends 'base.html' %}

{% load static %}


{% block title %}Delete シ - Smart Mingle Events{% endblock %}

{% block content %}

<div class="container mt-3">
    <div class="row align-items-center">
        <div class="col-lg-6 col-sm-12">

            <h3 class="mb-4">
                Smart Mingle - Are you sure you want to delete this event?
            </h3>

            <button type="submit" class="btn btn-primary" onclick="window.location.href='{% url 'app:user' %}'">Yes</button>
            <button type="submit" class="btn btn-primary" onclick="window.location.href='{% url 'app:home' %}'">Go back to Home</button>



        </div>

        <div class="col-lg-6 col-sm-12">
            <img src="{%static 'images/logout.png' %}" alt="logout-image" class="img-fluid"/>
        </div>
    </div>
</div>
{% endblock %}