{% extends 'base.html' %}

{% load static %}

{% load static %}

{% block title %}Server error{% endblock %}

{% block content %}

<div class="container mt-3">
    <div class="row justify-content-center text-center align-items-center">
        <div class="col-md-12">
            <img
                    src="https://res.cloudinary.com/dpl3nuqof/image/upload/v1703276293/idu0zllk6cujl1fp0sej.png"
                    alt="hero-image"
                    class="img-fluid"
            />
        </div>
        <div class="col-md-12 text-center">
            <button type="button" class="btn btn-primary btn-lg"
                    onclick="window.location.href='{% url 'app:home' %}'">
                Go To Home !!
            </button>
        </div>
</div>

{% endblock %}





