{% extends 'base.html' %}

{% load static %}

{% block title %}Home シ - Smart Mingle Events{% endblock %}

{% block content %}

<div class="container mt-3">
    <div class="row">
        <div class="event-title col-12 mb-4 mt-4">
            <h3>{{event.title}}</h3>
        </div>
    </div>
    <div class="row align-items-center position-relative mb-3">
        <div class="col-lg-8 col-sm-12 mb-4">
            <img src="{{event.img_url}}" class="card-img-top mb-4" alt="image">
            <div class="card">
                <div class="card-body">
                    <h4 class="mb-4 card-title card-strong">Details</h4>
                    <div class="card-text">
                        {% autoescape off %}
                        {{event.description}}
                        {% endautoescape %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-12 position-lg-absolute top-0 end-0">
            <div class="card">
                <div class="card-body event-features">
                    <h4 class="mb-4 card-title card-strong">Features</h4>
                    <p class="card-text">Hosted By: <strong>{{event.organizer.first_name}}
                        {{event.organizer.last_name}}</strong></p>
                    <p class="card-text">Location: {{event.location}}</p>
                    <p class="card-text">Date Time: {{event.start_time}}</p>
                    <p class="card-text">Type: {{event.category}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row align-items-center px-4 mb-4">
        <div class="mb-3">
            <h2>Recommended Events</h2>
        </div>
        <div
                id="carouselExampleControls"
                class="carousel col-lg-12 carousel-dark slide"
                data-bs-ride="carousel"
        >
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div
                            class="card-wrapper container-sm d-flex justify-content-around"
                    >
                        {% for e in suggested_events_focus %}
                        <div onclick="window.location.href='{% url 'app:event' slug=e.slug %}'"
                             style="cursor: pointer;"
                             class="card h-100">
                            <img
                                    src="{{e.img_url}}" width="333" height="208"
                                    class="card-img-top card-event-image" alt="image"
                            >
                            <div class="card-body">
                                <h5 class="card-title card-strong">{{e.title}}</h5>

                                <span class="tag badge bg-type mb-1">{{e.category}}</span>
                                <span class="tag badge bg-new mb-1">{{e.location}}</span>
                                <br>
                                <span class="tag badge bg-danger mb-1">{{e.start_time}}</span>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="carousel-item">
                    <div
                            class="card-wrapper container-sm d-flex justify-content-around"
                    >
                        {% for e in suggested_events_unfocus %}
                        <div onclick="window.location.href='{% url 'app:event' slug=e.slug %}'"
                             style="cursor: pointer;"
                             class="card h-100">
                            <img
                                    src="{{e.img_url}}" width="333" height="208"
                                    class="card-img-top card-event-image" alt="image"
                            >
                            <div class="card-body">
                                <h5 class="card-title card-strong">{{e.title}}</h5>

                                <span class="tag badge bg-type mb-1">{{e.category}}</span>
                                <span class="tag badge bg-new mb-1">{{e.location}}</span>
                                <br>
                                <span class="tag badge bg-danger mb-1">{{e.start_time}}</span>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="carousel-item">
                    <div
                            class="card-wrapper container-sm d-flex justify-content-around"
                    >
                        {% for e in suggested_events_unfocus2 %}
                        <!-- slug is also defined for an event -->
                        <div onclick="window.location.href='{% url 'app:event' slug=e.slug %}'"
                             style="cursor: pointer;"
                             class="card h-100">
                            <img
                                    src="{{e.img_url}}" width="333" height="208"
                                    class="card-img-top card-event-image" alt="image"
                            >
                            <div class="card-body">
                                <h5 class="card-title card-strong">{{e.title}}</h5>

                                <span class="tag badge bg-type mb-1">{{e.category}}</span>
                                <span class="tag badge bg-new mb-1">{{e.location}}</span>
                                <br>
                                <span class="tag badge bg-danger mb-1">{{e.start_time}}</span>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <button
                    class="carousel-control-prev"
                    type="button"
                    data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev"
            >
              <span
                      class="carousel-control-prev-icon"
                      aria-hidden="true"
              ></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button
                    class="carousel-control-next"
                    type="button"
                    data-bs-target="#carouselExampleControls"
                    data-bs-slide="next"
            >
              <span
                      class="carousel-control-next-icon"
                      aria-hidden="true"
              ></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
{% endblock %}
