<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Smart Mingle Events</title>
    <link
            href="https://fonts.googleapis.com/css?family=Shadows Into Light"
            rel="stylesheet"
    />
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css"
    />

    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body>
<header>
    <!-- Navigation bar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="row">
            <div
                    class="col-lg-3 col-md-12 col-sm-12 mb-2 d-flex justify-content-center justify-content-md-start justify-content-lg-center"
            >
                <a href="home.html" class="navbar-brand ms-4">Smart Mingle シ</a>
            </div>
            <div class="col-lg-5 col-sm-12 mb-2">
                <form role="search" class="d-flex">
                    <input
                            class="form-control me-2 flex-grow-1"
                            type="search"
                            placeholder="Search events"
                            aria-label="Search"
                    />
                    <button class="btn btn-outline-success" type="submit">
                        Search
                    </button>
                </form>
            </div>
            <div
                    class="col-lg-4 col-md-12 col-sm-12 mb-2 d-flex justify-content-md-end justify-content-center"
            >
                <ul class="navbar-nav d-flex flex-row">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Sign Up</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<main>
    <div class="container mt-3">
        <div class="row align-items-center">
            <div class="col-lg-6 col-sm-12">
                <h3 class="mb-4">
                    Smart Mingle - Where Connections Spark, Events Shine, and Memories
                    Unfold!
                </h3>
                <p>
                    Join a vibrant community where like-minded individuals connect
                    effortlessly, sharing experiences that span a myriad of passions.
                </p>
                <p>
                    Dive into a world where connections are made effortlessly, and
                    events become unforgettable chapters in your life story.
                </p>
            </div>

            <div class="col-lg-6 col-sm-12">
                <img src="images/hero.png" alt="hero-image" class="img-fluid"/>
            </div>
        </div>
    </div>

    <!-- Create Event Section -->
    <div class="container">
        <div class="row justify-content-center">
            <!-- Centered Text -->
            <div class="col-md-8 text-center">
                <h2>Want to Create an Event?</h2>
                <button type="button" class="btn btn-primary btn-lg" href="">
                    Sign Up Now
                </button>
            </div>
        </div>
    </div>
</main>

<!-- Footer Section Start -->
<footer>
    <div class="ion-icon-social">
        <a href="http://instagram.com"
        ><i class="icon ion-social-instagram"></i
        ></a>
        <a href="http://snapchat.com"
        ><i class="icon ion-social-snapchat"></i
        ></a>
        <a href="http://twitter.com"><i class="icon ion-social-twitter"></i></a>
        <a href="http://facebook.com"
        ><i class="icon ion-social-facebook"></i
        ></a>
    </div>
    <p class="copyright-text">
        &copy; 2023 Smart Mingle. All rights reserved.
    </p>
</footer>
<!-- Footer Section End -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<!-- Include Bootstrap and Tempus Dominus JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="js/script.js"></script>
</body>
</html>
