{% extends 'base.html' %}

{% block title %}Home シ - Smart Mingle Events{% endblock %}

{% block content %}

<div class="container mt-3">
    <div class="row align-items-center">
        <div class="col-lg-6 col-sm-12">
            <h3 class="mb-4">
                Smart Mingle - Where Connections Spark, Events Shine, and Memories
                Unfold!
            </h3>
            <p>
                Join a vibrant community where like-minded individuals connect
                effortlessly, sharing experiences that span a myriad of passions.
            </p>
            <p>
                Dive into a world where connections are made effortlessly, and
                events become unforgettable chapters in your life story.
            </p>
        </div>

        <div class="col-lg-6 col-sm-12">
            <img src="static/images/hero.png" alt="hero-image" class="img-fluid"/>
        </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center">
        <!-- Centered Text -->
        <div class="col-md-8 text-center">
            <h2>Want to Create an Event?</h2>
            <button type="button" class="btn btn-primary btn-lg" href="">
                Sign Up Now
            </button>
        </div>
    </div>
</div>
{% endblock %}