{% extends 'base.html' %}

{% load static %}

{% block title %}Home シ - Smart Mingle Events{% endblock %}

{% block content %}

<div class="container mt-3">
    <div class="row align-items-center">
        <div class="col-lg-6 col-sm-12">
            <h3 class="mb-4">
                Smart Mingle - Where Connections Spark, Events Shine, and Memories
                Unfold!
            </h3>
            <p>
                Join a vibrant community where like-minded individuals connect
                effortlessly, sharing experiences that span a myriad of passions.
            </p>
            <p>
                Dive into a world where connections are made effortlessly, and
                events become unforgettable chapters in your life story.
            </p>
        </div>

        <div class="col-lg-6 col-sm-12">
            <img src="static/images/hero.png" alt="hero-image" class="img-fluid"/>
        </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center">

        <div class="container mt-3">
        <div class="row align-items-center">
          <div class="mb-3">
            <h2>Incoming Events</h2>
          </div>
          <div
            id="carouselIncomingEvents"
            class="carousel carousel-dark slide mb-4"
            data-bs-ride="carousel"
          >
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div
                  class="card-wrapper container-sm d-flex justify-content-around"
                >
                  <div class="card h-100">
                    <img
                      src="static/images/event2.jpeg"
                      class="card-img-top card-event-image"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title card-strong">Event Title 1</h5>
                      <span class="tag badge favourite-icon bg-light"
                        ><i class="icon ion-heart"></i
                      ></span>
                      <span class="tag badge bg-new card-badge">New</span>
                      <span class="tag badge bg-type card-badge">Sports</span>
                      <span class="tag badge bg-danger card-badge">Berlin</span>
                    </div>
                  </div>

                  <div class="card h-100">
                    <img
                      src="static/images/event6.jpeg"
                      class="card-img-top card-event-image"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title card-strong">Event Title 2</h5>
                      <span class="tag badge favourite-icon bg-light"
                        ><i class="icon ion-heart"></i
                      ></span>
                      <span class="tag badge bg-new">New</span>
                      <span class="tag badge bg-type">Sports</span>
                      <span class="tag badge bg-danger">Berlin</span>
                    </div>
                  </div>
                  <div class="card h-100">
                    <img
                      src="static/images/event7.jpeg"
                      class="card-img-top card-event-image"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title card-strong">Event Title 3</h5>
                      <span class="tag badge favourite-icon bg-light"
                        ><i class="icon ion-heart"></i
                      ></span>
                      <span class="tag badge bg-new">New</span>
                      <span class="tag badge bg-type">Sports</span>
                      <span class="tag badge bg-danger">Berlin</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="carousel-item">
                <div
                  class="card-wrapper container-sm d-flex justify-content-around"
                >
                  <div class="card h-100">
                    <img
                      src="static/images/event1.jpeg"
                      class="card-img-top card-event-image"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title card-strong">Event Title 4</h5>
                      <span class="tag badge favourite-icon bg-light">
                        <i class="icon ion-heart"></i
                      ></span>
                      <span class="tag badge bg-new card-badge">New</span>
                      <span class="tag badge bg-type card-badge">Sports</span>
                      <span class="tag badge bg-danger card-badge">Berlin</span>
                    </div>
                  </div>

                  <div class="card h-100">
                    <img
                      src="static/images/event6.jpeg"
                      class="card-img-top card-event-image"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title card-strong">Event Title 5</h5>
                      <span class="tag badge favourite-icon bg-light"
                        ><i class="icon ion-heart"></i
                      ></span>
                      <span class="tag badge bg-new">New</span>
                      <span class="tag badge bg-type">Sports</span>
                      <span class="tag badge bg-danger">Berlin</span>
                    </div>
                  </div>
                  <div class="card h-100">
                    <img
                      src="static/images/event3.jpeg"
                      class="card-img-top card-event-image"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title card-strong">Event Title 6</h5>
                      <span class="tag badge favourite-icon bg-light"
                        ><i class="icon ion-heart"></i
                      ></span>
                      <span class="tag badge bg-new">New</span>
                      <span class="tag badge bg-type">Sports</span>
                      <span class="tag badge bg-danger">Berlin</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div
                  class="card-wrapper container-sm d-flex justify-content-around"
                >
                  <div class="card h-100">
                    <img
                      src="static/images/event4.jpeg"
                      class="card-img-top card-event-image"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title card-strong">Event Title 7</h5>
                      <span class="tag badge favourite-icon bg-light"
                        ><i class="icon ion-heart"></i
                      ></span>
                      <span class="tag badge bg-new">New</span>
                      <span class="tag badge bg-type">Sports</span>
                      <span class="tag badge bg-danger">Berlin</span>
                    </div>
                  </div>

                  <div class="card h-100">
                    <img
                      src="static/images/event7.jpeg"
                      class="card-img-top card-event-image"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title card-strong">Event Title 8</h5>
                      <span class="tag badge favourite-icon bg-light"
                        ><i class="icon ion-heart"></i
                      ></span>
                      <span class="tag badge bg-new">New</span>
                      <span class="tag badge bg-type">Sports</span>
                      <span class="tag badge bg-danger">Berlin</span>
                    </div>
                  </div>
                  <div class="card h-100">
                    <img
                      src="static/images/event5.jpeg"
                      class="card-img-top card-event-image"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title card-strong">Event Title 9</h5>
                      <span class="tag badge favourite-icon bg-light"
                        ><i class="icon ion-heart"></i
                      ></span>
                      <span class="tag badge bg-new">New</span>
                      <span class="tag badge bg-type">Sports</span>
                      <span class="tag badge bg-danger">Berlin</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselIncomingEvents"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselIncomingEvents"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>


        <!-- Centered Text -->
        <div class=" mt-5 text-center">
            <h2>Want to Create an Event?</h2>
            <p>
                Craft your dream event effortlessly with our user-friendly platform. From invitations to RSVPs, we've got you covered. Create, celebrate, and let us handle the details!
            </p>
            <button type="button" class="btn btn-primary btn-lg" href="">
                Sign Up Now
            </button>
        </div>
    </div>
</div>
{% endblock %}