{% extends 'base.html' %}

{% load static %}

{% block title %}Update Event シ - Smart Mingle Events{% endblock %}

{% block content %}

<div class="container mt-3">
    <div class="row">
        <div class="col-sm-12 col-lg-6"></div>
        <div class="col-sm-12 col-lg-6">
            <h2>Update Event</h2>
            <p>
                "Smart Mingle: Where Events Spark and Connections Flourish – Your
                Event, Your Way!"
            </p>
            {% if error_message %}
            <p class="text-danger">{{error_message}}</p>
            {% endif %}
        </div>
    </div>
</div>
<div class="container">
    <div class="row position-relative">
        <div class="col-sm-12 col-lg-6">

            <img
                    src="static/images/create-event.png"
                    alt="hero-image"
                    class="img-fluid"
            />
        </div>
        <div class="col-sm-12 col-lg-6">
            <form id="create_event" method="post" action="{% url 'app:update_event' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="call_type" value="from_update">
                <input type="hidden" name="event_id" value="{{event_id}}">
                <div class="mb-3">
                    <label for="title" class="form-label">Event Title</label>
                    <input value="{{ event.title }}" type="text" class="form-control" id="title" name="title">
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label">Image</label>

                    <br>
                    <img
                            id="uploaded-image"
                            src="{{ event.img_url }}"
                            alt="your image"
                    >
                    <br>
                    <br>
                    <input accept=".avif,.jpg,.jpeg,.png,.webp" class="btn btn-primary" type="file" name="image"
                           id="image">
                </div>

                <div class="mb-3">
                    <label for="event_description" class="form-label">Description</label>
                    <textarea id="event_description" name="event_description">
                        {% autoescape off %}
                        {{event.description}}
                        {% endautoescape %}
                    </textarea>
                </div>

                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input value="{{ event.location }}" type="text" class="form-control" id="location" name="location"
                    >
                </div>

                <div class="mb-3">
                    <label for="category" class="form-label">Category</label>
                    <select id="category" name="category" class="form-select">
                        {% for category in categories %}
                        <option

                                {% if event.category == category%}
                                selected
                                {% endif %}

                        >{{category}}
                        </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="mb-3">
                    <label class="form-label">Select Date and Time:</label>
                    <div class="form-group">
                        <div class="datetimepicker">
                            <input type="date" name="date" id="date" value="{{date_str}}">
                            <span></span>
                            <input type="time" name="time" id="time" value="{{time_str}}">
                        </div>
                    </div>
                </div>
                <div class="float-end">
                    <button type="submit" class="btn btn-primary">
                        Update Event
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block extra_js %}
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
<script
        src="https://cdn.tiny.cloud/1/h9c3p48xof44x9gg535v3mnv0rhqw5mj6z5ko6k9xbrefuc2/tinymce/6/tinymce.min.js"
        referrerpolicy="origin"
></script>
<script src="{% static 'js/script.js' %}"></script>
<script>

    // Current Date and Time insertion
if (verify_exist("date")) {
  // Dom management for Date time picker
  document.addEventListener("DOMContentLoaded", function () {
    var today = new Date().toISOString().split("T")[0];
    var dateInput = document.getElementById("date");
    dateInput.setAttribute("min", today);
    dateInput.value = "{{date_str}}";
  });

  document.addEventListener("DOMContentLoaded", function () {
    var today = new Date().toISOString().split("T")[0];
    document.getElementById("date").setAttribute("min", today);
  });
}

if (verify_exist("time")) {
  document.addEventListener("DOMContentLoaded", function () {
    var currentTime = new Date().toLocaleTimeString("en-GB", {
      hour: "2-digit",
      minute: "2-digit",
      hour12: false,
    });
    document.getElementById("time").value = "{{time_str}}";
  });
}


</script>
{% endblock %}
