{% extends 'base.html' %}

{% load static %}

{% block title %}My Profile シ - Smart Mingle Events{% endblock %}

{% block content %}

<div class="container mt-3 emp-profile">
    <form method="get" action="{% url 'app:user_edit' %}">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="{{profilepic}}"
                         alt="user-image"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                    <h1>{{first_name}} {{last_name}}</h1>
                    <div class="tab-content profile-tab" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="row">
                                <div class="col-md-6 mt-4">
                                    <label>First Name</label>
                                </div>
                                <div class="col-md-6 mt-4">
                                    <p>{{first_name}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Last Name</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{last_name}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Email</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{email}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Phone</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{phonenum}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/>
            </div>
        </div>
    </form>
</div>



<div class="container mt-3 emp-profile">
    <div class="row">
    <div class="col-md-4">
        <h3>Your Events</h3>
    </div>
    <div class="col-md-5">
        <div class="col-md-8 mb-3">
            <div class="card">
              <div class="card mb-3">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="static/images/event2.jpeg" class="img-fluid rounded-start" alt="..." />
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">
                        This is a wider card with supporting text below as a
                        natural lead-in to additional content. This content is a
                        little bit longer.
                      </p>
                      <p class="card-text">
                        <small class="text-muted"
                          >Last updated 3 mins ago</small
                        >
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
        <div class="col-md-3">
                <input type="button" class="profile-edit-btn" name="update" value="Edit Event" onclick="window.location.href='{% url 'app:update_event' %}'"/>
            <br> <br>

            <input type="button" class="profile-edit-btn" name="delete" value="Delete Event" onclick="window.location.href='{% url 'app:delete_event' %}'"/>
            </div>
    </div>

{% endblock %}