{% extends 'base.html' %}

{% load static %}

{% block title %}Home シ - Smart Mingle Events{% endblock %}

{% block content %}


<div class="container mt-3 emp-profile">
    <form method="post" action="{% url 'app:user' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="{{profilepic}}"
                         alt="user-image">
                    <div class="file btn btn-lg btn-primary">
                        Change Photo
                        <input accept=".avif,.jpg,.jpeg,.png,.webp" type="file" name="file">
                    </div><br>
                        <small>Image Formats (jpeg, jpg, png, avif)</small>
                </div>
            </div>
            <div class="col-md-5">
                <div class="profile-head">
                    <h1>{{user.first_name}} {{user.last_name}}</h1>
                    <div class="tab-content profile-tab" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="row">
                                <div class="col-md-6 mt-4">
                                    <label>First Name</label>
                                </div>
                                <div class="mb-3">

                                    <input type="text" class="form-control" id="firstName" name="first_name"
                                           value="{{first_name}}"
                                    >
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <label>Last Name</label>
                                </div>
                                <div class="mb-3">
                                    <input type="text" class="form-control" id="lastName" name="last_name"
                                           value="{{last_name}}">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <label>Phone</label>
                                </div>
                                <div>
                                    <input id="phonenum" name="phonenum" pattern="\d{2,5}\d{3,9}"
                                           title="Phone number (e.g., 0301234567)" type="tel" class="form-control"
                                           value="{{phone_num}}">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Save Changes">
            </div>
        </div>
    </form>
</div>

{% endblock %}