{% extends 'base.html' %}

{% block content %}
<!--
<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
  <div class="container-fluid">

    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand">Smart Mingle</a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Log In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Sign Out</a>
        </li>
      </ul>
      <form class="d-flex input-group w-auto">
        <input
          type="search"
          class="form-control"
          placeholder="Type query"
          aria-label="Search"
        />
        <button
          data-mdb-ripple-init
          class="btn btn-outline-primary"
          type="button"
          data-mdb-ripple-color="dark"
        >
          Search
        </button>
      </form>
    </div>
  </div>
</nav>
-->
<div class="navbar">
    <div class="logo">Smart Mingle</div>
<!--    <div class="search">-->
<!--        <input type="text" placeholder="search events">-->
<!--        <button>Search</button>-->
<!--    </div>-->
    <div class="menu">
        <a href="#" class="menu-item">Contact Us</a>
        <a href="#" class="menu-item">Log In</a>
        <a href="#" class="menu-item">Sign up</a>
    </div>
</div>

<div class="main-content">
    <h1>Smart Mingle - Where Connections Spark, Events Shine, and Memories Unfold!</h1>
    <p>JJoin a vibrant community where like-minded individuals connect effortlessly, sharing experiences that span a myriad of passions. From tech enthusiasts to art aficionados, our platform brings together a tapestry of interests, ensuring you never miss out on the events that resonate with you. Dive into a world where connections are made effortlessly, and events become unforgettable chapters in your life story.</p>

    <div class="create-event">
        <h2>WANT TO CREATE AN EVENT?</h2>
        <button>Sign Up Now</button>
    </div>
</div>

 <!-- Footer Section Start -->
    <footer>
      <hr />
      <div class="ion-icon-social">
        <a><i class="icon ion-social-instagram"></i></a>
        <a><i class="icon ion-social-snapchat"></i></a>
        <a><i class="icon ion-social-twitter"></i></a>
        <a><i class="icon ion-social-facebook"></i></a>
      </div>
      <p class="copyright-text">
        &copy; 2023 Smart Mingle. All rights reserved.
      </p>
    </footer>
    <!-- Footer Section End -->

{% endblock %}
