{% extends 'base.html' %}

{% load static %}
{% load i18n %}
{% load allauth %}

{% block title %}Signout シ - Smart Mingle Events{% endblock %}

{% block content %}

<div class="container mt-3">
    <div class="row align-items-center">
        <div class="col-lg-6 col-sm-12">

            <h3 class="mb-4">
                Smart Mingle - Are you sure you want to log out?
            </h3>


            {% url 'account_logout' as action_url %}
            {% element form method="post" action=action_url no_visible_fields=True %}
                {% csrf_token %}

                {% slot body %}
                    {% csrf_token %}
                    <a href="{%url 'app:search' %}">Find More Events</a>
                    <hr >
                {% endslot %}
                {% slot body %}
                    <button type="submit" class="btn btn-primary">Signout</button>
                {% endslot %}


            {% endelement %}


        </div>

        <div class="col-lg-6 col-sm-12">
            <img src="{%static 'images/logout.png' %}" alt="logout-image" class="img-fluid">
        </div>
    </div>
</div>
{% endblock %}