{% extends 'base.html' %}

{% load static %}
{% load i18n %}
{% load allauth %}

{% block title %}Change Password  シ - Smart Mingle Events{% endblock %}

{% block content %}

<div class="container mt-3">
    <div class="row align-items-center">
        <div class="col-lg-6 col-sm-12">
            {% if token_fail %}
                <h3 class="mb-4">
                    Bad Token - Please use the right one!
                </h3>
                    </div>

                <div class="col-lg-6 col-sm-12">
                    <img src="{%static 'images/event1.jpeg' %}" alt="hero-image" class="img-fluid"/>
                </div>
            {% else %}
                <h3 class="mb-4">
                    Change Your Password !
                </h3>

                {% element form method="post" action=action_url %}
                    {% slot body %}
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="password1" class="form-label"
                            >Password</label
                            >
                            <input
                                    type="password"
                                    class="form-control"
                                    id="password1"
                                    name="password1"
                                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                                    title="Password must contain at least 8 characters, including 1 uppercase letter, 1 lowercase letter, and 1 number."
                                    required
                            />
                        </div>
                        <div class="mb-3">
                            <label for="password2" class="form-label"
                            >Password</label
                            >
                            <input
                                    type="password"
                                    class="form-control"
                                    id="password2"
                                    name="password2"
                                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                                    title="Password must contain at least 8 characters, including 1 uppercase letter, 1 lowercase letter, and 1 number."
                                    required
                            />
                        </div>
                    {% endslot %}
                    {% slot actions %}
                        <button type="submit" class="btn btn-primary">Change Password</button>
                    {% endslot %}
                {% endelement %}

                </div>

                <div class="col-lg-6 col-sm-12">
                    <img src="{%static 'images/pw_reset.png' %}" alt="password-reset-image" class="img-fluid"/>
                </div>
            {% endif %}


    </div>
</div>
{% endblock %}