{% extends 'base.html' %}

{% load static %}
{% load i18n %}
{% load allauth %}

{% block title %}Reset Password  シ - Smart Mingle Events{% endblock %}

{% block content %}

<div class="container mt-3">
    <div class="row align-items-center">
        <div class="col-lg-6 col-sm-12">

            <h3 class="mb-4">
                Password Reset Email Sent シ
            </h3>

            <p>
                We have sent you an email. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.
            </p>

            <button type="button" class="btn mt-3 btn-primary btn-lg"
                    onclick="window.location.href='{% url 'app:home' %}'">
                Go To Home !!
            </button>

        </div>

        <div class="col-lg-6 col-sm-12">
            <img src="{%static 'images/thumbsup.png' %}" alt="done-image" class="img-fluid">
        </div>
    </div>
</div>
{% endblock %}