{% extends 'base.html' %}

{% load static %}
{% load i18n %}
{% load allauth %}

{% block title %}Change Password  シ - Smart Mingle Events{% endblock %}

{% block content %}

<div class="container mt-3">
    <div class="row align-items-center">
        <div class="col-lg-6 col-sm-12">

            <h3 class="mb-4">
                Password Changed シ
            </h3>

            <p>
                Your Password has been successfully reset !!
            </p>

        </div>

        <div class="col-lg-6 col-sm-12">
            <img src="{%static 'images/hero.png' %}" alt="hero-image" class="img-fluid"/>
        </div>
    </div>
</div>
{% endblock %}